{% extends 'base.html' %}

{% block title %}
Racer list
{% endblock %}

{% block content %}
<h2>Racer list</h2>
<div>
    <a href="{% url 'racer_create' %}">Create a Racer</a>
</div>
<div>Here is the list of racers</div>
    {% for r in racers2 %}
        <div>
            <a href="{% url 'racer_detail' r.id %}">
                Id: {{r.id}} ---- Racer Name: {{r.name}} ---- Racer Skill: {{r.skill}} 
                
            </a>
            <a href="{% url 'racer_update' r.id %}">| Update Info </a>
            <a href="{% url 'racer_delete' r.id %}">| Delete</a>
        </div>
    {% endfor %}
</div>
{% endblock %}